body {
	background-color: #EBEBEB;
	font-family: 'Slabo 27px', serif;
}

#container {
	width: 900px;
	margin: 0 auto;
}

.menu {
	position: fixed;
	width: 100px;
	height: 100%;
	background-color: grey;
	left: 0px;
	top: 0px;
}

.menu ul {
	margin-top: 50px;
}

.menu li {
	list-style: none;
	padding-top: 30px;
}

.menu a {
		color: #EBEBEB;
}

h1, h2, h3 {
font-family: 'Roboto', sans-serif;
color: #0080FF;
text-align: center;
}

#card p {
	text-align: center;
}

.card li {
	list-style: none;
	display: inline;
	text-align: center;
}

.card ul {
	margin: 0px;
	width: 350px;
	padding: 0px;
	padding-left: 30%;
	text-align: center;
}

.card li a {
	color: grey;
	text-decoration: none;
	transition: color 0.3s ease;
	text-align: center;
	padding-right: 40px;
}

a:hover {
	color: red;
	text-decoration: none;
}

#pp_me {
	width: 200px;
	height: 200px;
	padding-left: 30%;
}

td img {
	width: 200px;
	height: 250px;
}

tr {
	color: grey;
}

.card {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px
	border-radius: 50px;
	-moz-box-shadow: 10px 5px 5px grey;
	-webkit-box-shadow: 10px 5px 5px grey;
    box-shadow: 10px 5px 5px grey;
}

#card1 {
	height: 450px;
	padding: 80px;
}

#card2 {
	height: 200px;
	padding-top: 20px
}

#card3 {
	height: 625px;
	padding: 50px;
}